<h1>Tweet Wrangler</h1>
<h5>An app to play with the Twitter API and Angular</h5>
<form>
  <input type="text" ng-model='twitterName' size="50" placeholder="twitter username">
  <input type="submit" value="enter">
</form>
<div ng-controller="TweetsCtrl">
  <ul>
    <li ng-repeat="tweet in tweets">
      {{tweet.username}}
      <a href='' ng-click="deleteTweet(tweet.id, $index)">Delete</a>
    </li>
  </ul>
</div>